.container {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.inner-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    background-color: rgb(226, 232, 232);
}

.menu {
    width: 30%;
    border-radius: 25px;
    height: 100%;
    box-shadow: inset;
    background-color: rgb(191, 198, 198);
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    width: 70%;
    height: 80px;
    border-radius: 10px;
}

.view-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 30px;
    width: 70%;
    border-radius: 10px;
}

.feedback-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 30px;
    width: 70%;
    border-radius: 10px;
}

.profile-img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: black;
}

.profile-txt {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.info-txt {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.toggle-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.toggle-btn-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(149, 148, 148);
    opacity: 0.5;
    border-radius: 5px;
    height: 60px;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.toggle-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.feedback-section-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.feedback-btn {
    height: 40px;
    width: 70%;
    border-radius: 5px;
    background-color: rgb(104, 191, 104);
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
}

.box-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 85px;
    background-color: white;
    box-shadow: inset;
}

.top {
    display: flex;
    flex-direction: row-reverse;
    height: 20px;
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.box-content {
    display: flex;
    flex-direction: column;
    padding: 21px;
}

.post-title {
    font-size: 22px;
    font-weight: 700;
    width: 800px;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-body {
    margin-top: 10px;
    font-size: 16px;
    width: 700px;
    font-weight: 400;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-date {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: grey;
    width: 800px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box-post-img {
    margin-top: 10px;
    height: 100px;
    width: 97%;
    border-radius: 5px;
    background-color: grey;
    opacity: 0.5;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-color: rgb(226, 232, 232);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.rectangle-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 25px;
    box-shadow: inset;
}

.rectangle-inner-container {
    background-color: white;
    width: 88%;
    display: flex;
    border-radius: 15px;
    flex-direction: row;
}

.rectangle-content {
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
}

.rectangle-post-img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: grey;
    margin-left: 20px;
}

.txt-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.cancel-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.cancel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: gray;
    opacity: 0.3;
    cursor: pointer;
}

.main-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(226, 232, 232);
}

.main-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-color: rgb(226, 232, 232);
}

.feedback-container {
    position: absolute;
    left: 25%;
    width: 60%;
    height: 100%;
}

.feedback-form {
    display: flex;
    width: 80%;
    flex-direction: column;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 100%;
    padding: 20px;
    box-shadow: inset;
    background-color: rgb(191, 198, 198);

}

.feedback-title {
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    color: black;
}

.feedback-info {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: black;
}

.label-text-container {
    display: flex;
    flex-direction: column;
}

.label {
    padding-left: 5px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    line-height: 40px;
}

.input {
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 50%;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.address {
    height: 100px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 80%;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.submit-btn {
    height: 45px;
    width: 40%;
    border-radius: 5px;
    background-color: rgb(104, 191, 104);
    margin-top: 25px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    height: 60px;
    align-items: center;
}

.pagination-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    display: flex;
    background-color: rgb(117, 116, 116);
    height: 35px;
    width: 35px;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.page-number {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.loader-container {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 18, 18);
    opacity: 0.66;
}

.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #41a6ea;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}